<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264121725875-1cn3j5smvkct3nst10toph4m6qe1ggkt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264121725875-1cn3j5smvkct3nst10toph4m6qe1ggkt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>264121725875-v0fo7bcd6o1tjt77ro62eihus0ga653o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBkCLxC8Uwg0RsryQmeaFgee-wNeWwESh0</string>
	<key>GCM_SENDER_ID</key>
	<string>264121725875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.css.Happinest</string>
	<key>PROJECT_ID</key>
	<string>happinest-c48d8</string>
	<key>STORAGE_BUCKET</key>
	<string>happinest-c48d8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264121725875:ios:a7b4b15c61c8cd8b7f11c6</string>
</dict>
</plist>