<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Happinest</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1</string>
	<key>CFBundleName</key>
	<string>travelory</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb652895093593758</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Services</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.264121725875-1cn3j5smvkct3nst10toph4m6qe1ggkt</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>traveloryapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>traveloryapp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>45</string>
	<key>FacebookAppID</key>
	<string>652895093593758</string>
	<key>FacebookClientToken</key>
	<string>9ba65b8675f3a5b3238e484dd0ef9b27</string>
	<key>FacebookDisplayName</key>
	<string>Happinest</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram-stories</string>
		<string>facebook-stories</string>
		<string>facebook</string>
		<string>instagram</string>
		<string>twitter</string>
		<string>whatsapp</string>
		<string>tg</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>www.google.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to the camera to take photos. This will help you to upload the photo to you trip memory and profile directly using the camera.</string>
	<key>NSContactsUsageDescription</key>
	<string>This app needs access to contact list.This contacts will be used to invite the guests to event</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>This app needs access to location when open.This location data will be used to generate the timeline for your travelled locations.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>App wants to access your downloads folder</string>
	<key>NSLocalNotificationUsageDescription</key>
	<string>Enable notifications to receive important updates.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs access to location when open, closed or running in the background. This data will be used to generate your timeline for the travelled locations. </string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription - 2</key>
	<string>This app needs access to location when open, closed or running in the background. This data will be used to generate your timeline for the travelled locations. </string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app needs access to location when open, closed or running in the background. This data will be used to generate your timeline for the travelled locations. </string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to location when open.This location data will be used to generate the timeline for your travelled locations.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs access to the photo gallery to upload the images for trip memory and profile</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to photo liberary. You can upload the images to your profile and trip memory from your photo liberary.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
